
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>transition</title>
</head>
<body>
<header class="wrapper">
  <div class="nav">
    <ul>
      <li>1</li>
      <li>2</li>
      <li>3</li>
      <li>4</li>
      <li>5</li>
    </ul>
    <div class="clear"></div>
  </div>

  <div class="bg1" style="text-align: center;border: 1px solid red">
    <img src="../../static/img/1.png" alt="" style="width: 800px;height: 300px">
  </div>

  <div class="bg2" style="text-align: center">
    <img src="../../static/img/2.png" alt="" style="width: 100px;height: 100px">
  </div>
  <div style="border: 1px solid red;">
    <img src="../../static/img/2.png" alt="" width="200px" height="200px">
    <p style="display: inline-block;background-color: red;height: 80px">这是一段很长很长的文字这是一段很长很长的文字这是一段很长很长的文字</1p>
  </div>
</header>
</body>
<style>
  .wrapper{
    height: 200px;
    background-color: forestgreen;
  }
  .nav{
    background-color: violet;
    height: 40px;
  }
  .nav li{
    float: right;
    width: 60px;
    list-style: none;
  }
  .clear{
    clear: both;
  }
</style>
</html>
